@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Exo+2:wght@100;200;300;400;500;600;700;800&family=Exo:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

$abril: 'Abril Fatface', cursive;
$roboto:  'Roboto', sans-serif;
$exo: 'Exo', sans-serif;
$exo2: 'Exo 2', sans-serif;